praw~=7.8.1
python-dotenv~=1.0.1
google-generativeai
psycopg2-binary
sqlalchemy~=2.0.36
apscheduler~=3.11.0
protobuf~=5.29.1
requests~=2.32.3
pytest~=8.3.4
fastapi~=0.115.6
pydantic~=2.10.4
uvicorn~=0.34.0